# الأساسيات
flet==0.21.0

# التعامل مع الويب والبيانات (Void Harvester)
requests==2.31.0
beautifulsoup4==4.12.3
urllib3==2.2.1

# مكتبات التعامل مع النظام (مهمة للأندرويد)
plyer==2.1.0
certifi==2024.2.2
chardet==5.2.0
idna==3.6
